{% extends 'tracker/base.html' %}
{{assignments}}
{% block content %}
 <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">My Assigments</li>
    </ol>
  </nav>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Assignment </th>
          <th>Due Date</th>
          <th>Submission Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for assignment in assignments %}
          <tr>
            <td class="align-middle">{{ assignment.title }}</td>
            <td class="align-middle"><a style="color: #8C001A" href="/media/{{ assignment.filename }}">/media/{{ assignment.filename }}</td>
            <td class="align-middle">{{ assignment.duedate}}</td>
            <td class="align-middle">{{ submission_date}}</td>
            <td class="align-middle"><a href="{% url 'tracker:solutionupload' pk=assignment.pk %}" class="btn btn-primary mb-3" role="button">Submit Solution</a></td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No Assignments yet right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p></p>

  </div>
{% endblock %}
